[submodule "Submodules/RaptureXML"]
	path = Submodules/RaptureXML
	url = https://github.com/ZaBlanc/RaptureXML
[submodule "Submodules/TouchXML"]
	path = Submodules/TouchXML
	url = https://github.com/TouchCode/TouchXML.git
[submodule "Submodules/TBXML"]
	path = Submodules/TBXML
	url = https://github.com/71squared/TBXML.git
[submodule "Submodules/KissXML"]
	path = Submodules/KissXML
	url = https://github.com/robbiehanson/KissXML.git
[submodule "Submodules/tinyxml2"]
	path = Submodules/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
